.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
.mySlides {
    display: none;
}
  
div.img1 {
    background-image: url('../IMG/flying_circus_meme.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100vw;
    height: 90vh;
}

div.img2 {
    background-image: url('../IMG/jojo.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100vw;
    height: 90vh;
}
    
div.img3 {
    background-image: url('../IMG/maxresdefault.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100vw;
    height: 90vh;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
.prev:hover, .next:hover {
    background-color: rgba(38, 155, 252, 0.8);
}
  
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.fade {
    animation-name: fade;
    animation-duration: 1s;
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}