*{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav {
    background-color: rgba(255, 255, 255, 0.062);
    padding: 1rem 1.5rem;
    height: 6vh;
    width: 100%;
    vertical-align: middle;
}

nav ul {
    float: right;
}

nav li {
    display: inline-block;
}

nav ul li a {
    font-size: 14px;
    background-color: transparent;
    color: rgba(255,255,255,.5);
    text-align: center;
    padding-right: 2.75rem;
}

a.active, a:hover {
    color: #fff;
    transition: .5s;
}

.line {
    display: inline-block;
        border-left: 1px solid gray;
        margin: 1px;
        height: 20px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }